@import "root.css";

@import "javascript/layout/style.css";

#app{
    flex: 1;
    padding: 5rem;
    /* background-color: aqua; */
}

#home{
    padding-top: 2rem;
}


/* ==================================================
   DESKTOP ≥ 1024px
   ================================================== */
@media (min-width: 1024px) {
    #app{
    
    margin: 0rem ;
    }

 



  
    
  }